// _partial/_base.scss

$beige:  #FDFCDC;
$black:  #000000;
$blue:   #0000FF;
$green:  #008000;
$orange: #E97013;
$red:    #FF0000;
$white:  #FFFFFF;

$grey-lightest: lighten($black, 99%);
$grey-lighter:  lighten($black, 90%);
$grey-light:    lighten($black, 80%);
$grey:          lighten($black, 50%);
$grey-dark:     lighten($black, 30%);
$grey-darker:   lighten($black, 20%);
$grey-darkest:  lighten($black, 10%);

$star-full:  #FFD700;
$star-hover: #FFED85;
$star-empty: $grey-lighter;

$green-dark: darken($green, 5%);
$red-dark:   darken($red, 5%);

.cmtx_button {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border: none;
    display: inline-block;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    height: auto;
    min-width: 50px;
    background-color: #E7E7E7;
    color: $black;
    transition-duration: 0.4s;

    &:hover {
        background-color: darken(#E7E7E7, 5%);
    }

    &::-moz-focus-inner {
        border: 0;
    }
}

.cmtx_button_primary {
    background-color: #3F6F95;
    color: $white;

    &:hover {
        background-color: darken(#3F6F95, 10%);
    }
}

.cmtx_button_disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.cmtx_button_row input[type="button"] {
    border-radius: 5px;
}

.cmtx_clear::before, .cmtx_clear::after {
    content: " ";
    display: table;
}

.cmtx_clear::after {
    clear: both;
}