# Config file
/upload/config.php

# Backup files
/upload/system/backups/*
!/upload/system/backups/index.html

# Log files
/upload/system/logs/*
!/upload/system/logs/index.html

# Modification files
/upload/system/modification/*
!/upload/system/modification/index.html

# Cache files
/upload/system/cache/database/*
/upload/system/cache/modification/*

# Upload files
/upload/upload/*
!/upload/upload/index.html

# Gulp
node_modules
package-lock.json