# Config file
/comments/config.php

# Backup files
/comments/system/backups/*
!/comments/system/backups/.htaccess
!/comments/system/backups/index.html

# Log files
/comments/system/logs/*
!/comments/system/logs/index.html
!/comments/system/logs/errors.log

# Modification files
/comments/system/modification/*
!/comments/system/modification/index.html

# Cache files
/comments/system/cache/database/*
!/comments/system/cache/database/index.html
/comments/system/cache/modification/*
!/comments/system/cache/modification/index.html
/comments/system/cache/template/*
!/comments/system/cache/template/index.html

# Event files
/comments/system/events/*
!/comments/system/events/index.html

# Upload files
/comments/upload/avatar/*
!/comments/upload/avatar/index.html
/comments/upload/comment/*
!/comments/upload/comment/index.html

# Gulp
/node_modules/
/package-lock.json

# Composer
/composer.lock
/vendor/

# PHPUnit
/.phpunit.result.cache