{
    "extends": "stylelint-config-sass-guidelines",
    "rules": {
        "indentation": 4,
        "selector-class-pattern": null,
        "selector-no-qualifying-type": null,
        "selector-list-comma-newline-after": null,
        "selector-max-compound-selectors": null,
        "selector-max-id": null,
        "scss/dollar-variable-colon-space-after": null,
        "no-missing-end-of-source-newline": null
    }
}