// _partial/_comments.scss

.cmtx_comments_container {
	clear: left;
}

.cmtx_comments_heading {
	margin-top: 40px;
	margin-bottom: 15px;
}

.cmtx_comments_row_one, .cmtx_comments_row_two, .cmtx_comments_row_three, .cmtx_comments_row_four {
	background-color: #FCFCFC;
}

.cmtx_comments_row_one, .cmtx_comments_row_two {
	margin-bottom: 20px;
}

.cmtx_comments_row_three, .cmtx_comments_row_four {
	margin-top: 20px;
}

.cmtx_comments_row_four {
	margin-bottom: 30px;
}

.cmtx_row_left, .cmtx_row_middle, .cmtx_row_right {
	float: left;
	border: 1px dotted #CCCCCC;
	line-height: 25px;
	width: 33.3%;
	vertical-align: middle;
}

.cmtx_row_left *, .cmtx_row_middle *, .cmtx_row_right * {
	line-height: 25px;
}

.cmtx_row_left {
	text-align: left;
}

.cmtx_row_middle {
	text-align: center;
}

.cmtx_row_right {
	text-align: right;
}

.cmtx_no_comments {
}

.cmtx_comment_boxes {
}

.cmtx_comment_box {
	position: relative;
	padding: 5px;
	line-height: 1;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.cmtx_sticky_icon:before {
	font-size: 0.9em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f08d";
	position: absolute;
	left: 49.6%;
	color: $grey;
	cursor: default;
}

.cmtx_content_area {
}

.cmtx_gravatar_area {
	float: left;
	margin-right: 5px;
	position: relative;
}

.cmtx_gravatar_area img {
	max-width: 100%;
	position: relative;
	vertical-align: middle;
}

.cmtx_level {
	position: absolute;
	width: 100%;
	background-color: #4D4D4D;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 0.7em;
	margin-top: -8px;
	padding-bottom: 1px;
	text-align: center;
	vertical-align: middle;
}

.cmtx_bio {
	display: none;
	background-color: #FFFFFF;
	border: 1px solid #BBBBBB;
	left: 20%;
	top: 25%;
	padding: 10px;
	padding-top: 3px;
	position: absolute;
	width: 180px;
	z-index: 99;
}

.cmtx_bio_name {
	font-weight: bold;
	text-align: center;
	margin-bottom: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cmtx_bio_info {
	margin-top: 5px;
}

.cmtx_bio_info div {
	display: table-row;
}

.cmtx_bio_info label {
	display: table-cell;
	padding-right: 10px;
	vertical-align: top;
	font-weight: bold;
	text-align: left;
}

.cmtx_bio_info span {
	font-weight: normal;
}

.cmtx_bio_info_likes span {
	color: #006400;
}

.cmtx_bio_info_dislikes span {
	color: #D12F19;
}

.cmtx_badge {
	background-color: #4D4D4D;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 0.8em;
	margin-top: 8px;
	padding-bottom: 1px;
	text-align: center;
	vertical-align: middle;
	line-height: 3px;
}

.cmtx_badge div {
	display: inline-block;
	vertical-align: middle;
}

.cmtx_badge_star_left, .cmtx_badge_star_right {
	color: #FFF;
	padding-top: 1px;
}

.cmtx_badge_star_left {
	float: left;
	margin-left: 3px;
}

.cmtx_badge_star_right {
	float: right;
	margin-right: 3px;
}

.cmtx_main_area {
	overflow: hidden;
	position: relative;
}

.cmtx_user_and_rating_area {
	min-height: 16px;
}

.cmtx_user_area {
	margin-top: -2px;
}

.cmtx_name_text {
	font-weight: bold;
}

.cmtx_name a {
	text-decoration: none;
}

.cmtx_name_admin {
	color: #006400;
}

.cmtx_name_admin a {
	color: #006400;
}

.cmtx_says {
}

.cmtx_rating_area {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 1;
	cursor: default;
}

.cmtx_star:before {
	font-size: 1.1em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.cmtx_star_empty {
	color: #DDDDDD;
}

.cmtx_star_full {
	color: #FFD700;
}

.cmtx_comment_area {
	margin-top: 11px;
	margin-bottom: 15px;
}

.cmtx_comment_area p {
	margin-top: 7px;
	margin-bottom: 7px;
	line-height: 22px;
	font-weight: normal;
}

.cmtx_replies_group {
	margin-top: -8px;
}

.cmtx_code_box, .cmtx_php_box, .cmtx_quote_box {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: #F0F0F0;
}

.cmtx_read_more, .cmtx_read_less {
	text-align: center;
}

.cmtx_down_icon:before {
	font-size: 0.9em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f103";
	color: $grey;
	cursor: pointer;
}

.cmtx_up_icon:before {
	font-size: 0.9em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f102";
	color: $grey;
	cursor: pointer;
}

.cmtx_reply_area {
}

.cmtx_reply_area .cmtx_admin_reply {
	color: #006400;
	font-weight: bold;
	float: left;
	padding-right: 5px;
}

.cmtx_upload_area {
}

.cmtx_upload {
	display: inline-block;
	max-width: 400px;
	width: auto;
	height: auto;
}

.cmtx_upload_area a:not(:last-child) {
	padding-right: 5px;
}

.cmtx_date_and_action_area {
	min-height: 16px;
}

.cmtx_date_area {
	color: $grey;
	font-size: 0.8em;
	margin-top: 9px;
	font-weight: normal;
}

.cmtx_date {
}

.cmtx_action_area {
	position: absolute;
	right: 0;
	bottom: 0;
}

.cmtx_action_area div {
	display: inline-block;
}

.cmtx_action_area div:not(:last-of-type) {
	margin-right: 15px;
}

.cmtx_action_area a {
	text-decoration: none;
	outline: 0;
}

.cmtx_icon:before {
	font-size: 0.9em;
	font-family: FontAwesome;
	font-weight: normal;
	display: inline-block;
}

.cmtx_like_icon:before {
	content: "\f087";
	color: #006400;
}

.cmtx_dislike_icon:before {
	content: "\f088";
	color: #D12F19;
}

.cmtx_share_icon:before {
	content: "\f1e0";
	color: $grey;
}

.cmtx_flag_icon:before {
	content: "\f11d";
	color: $grey;
}

.cmtx_permalink_icon:before {
	content: "\f0c1";
	color: $grey;
}

.cmtx_reply_icon:before {
	content: "\f112";
	color: $grey;
}

.cmtx_like_count {
	color: #006400;
	font-weight: bold;
}

.cmtx_dislike_count {
	color: #D12F19;
	font-weight: bold;
}

.cmtx_action_message {
	cursor: default;
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	padding: 3px;
	font-size: 0.8em;
	font-weight: bold;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	background-color: #FFFFFF;
	display: none;
}

.cmtx_action_message_success {
	color: #006400;
	border: 1px solid #006400;
}

.cmtx_action_message_error {
	color: #FF0000;
	border: 1px solid #FF0000;
}

.cmtx_share_box, .cmtx_permalink_box {
	cursor: default;
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	padding: 3px;
	font-size: 0.8em;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	background-color: #FEFEFE;
	display: none;
	border: 1px solid #D0D0D0;
	width: auto;
}

.cmtx_share_box a {
	outline: none;
}

.cmtx_share {
    background-image: url(../image/share/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
	vertical-align: middle;
}

.cmtx_share_box a:not(:first-child) {
	margin-left: 10px;
}

.cmtx_share_digg {
    background-position: -5px -5px;
}

.cmtx_share_facebook {
    background-position: -31px -5px;
}

.cmtx_share_google {
    background-position: -5px -31px;
}

.cmtx_share_linkedin {
    background-position: -31px -31px;
}

.cmtx_share_reddit {
    background-position: -57px -5px;
}

.cmtx_share_stumbleupon {
    background-position: -57px -31px;
}

.cmtx_share_twitter {
    background-position: -5px -57px;
}

.cmtx_view_replies_area {
	bottom: 20px;
	font-size: 0.9em;
	left: 50%;
	margin-left: -45px;
	position: absolute;
}

.cmtx_view_replies_area a {
	text-decoration: none;
	outline: 0;
}

.cmtx_view_replies_link {
	color: #0000EE;
}

.cmtx_reply_num {
	font-weight: bold;
}

.cmtx_permalink_box input {
	margin-top: 3px;
	width: 200px;
	margin-bottom: 3px;
	padding: 0 0 0 2px;
}

.cmtx_permalink_box a {
	color: #0000FF;
	text-decoration: none;
	font-size: 0.9em;
}

.cmtx_youtube_container {
}

.cmtx_youtube_container iframe {
	max-width: 100%;
	height: auto;
}

.cmtx_loading_body {
	opacity: 0.3;
}

.cmtx_loading_icon {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
	display: none;
}

.cmtx_loading_icon:before {
	content: "\f110";
	font-family: FontAwesome;
	font-size: 20px;
}

@media all and (max-width: 800px) {
	.cmtx_row_left, .cmtx_row_middle, .cmtx_row_right {
		float: none;
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}

	.cmtx_empty_position {
		display: none;
	}	
}

@media all and (max-width: 600px) {
	.cmtx_view_replies_area {
		position: static;
		bottom: 0;
		margin-left: 0;
		margin-top: 15px;
	}
}

@media all and (max-width: 500px) {
	.cmtx_comment_box {
		text-align: center;
	}

	.cmtx_comment_box:not(:last-of-type) {
		margin-bottom: 50px;
	}

	.cmtx_sticky {
		padding-top: 10px;
		padding-bottom: 15px;
	}

	.cmtx_content_area {
		margin-left: 0 !important;
	}

	.cmtx_gravatar_area {
		float: none;
		margin-right: 0;
	}

	.cmtx_level {
		left: 0;
		right: 0;
		width: 72px;
		margin: 0 auto;
		margin-top: -8px;
	}

	.cmtx_main_area {
		margin-top: 10px;
	}

	.cmtx_user_and_rating_area {
		min-height: 0;
	}

	.cmtx_user_area {
		margin-top: 15px;
	}

	.cmtx_rating_area {
		margin-top: 10px;
		position: static;
		margin-bottom: 10px;
	}

	.cmtx_reply_area .cmtx_admin_reply {
		float: none;
	}

	.cmtx_upload {
		max-width: 90%;
	}

	.cmtx_code_box, .cmtx_php_box {
		text-align: left;
	}

	.cmtx_date_and_action_area {
		min-height: 0;
	}

	.cmtx_action_area {
		margin-top: 15px;
		position: static;
	}
}

/**************************** Outer *****************************/

/* Average Rating */

.cmtx_average_rating_block {
	line-height: 0;
}

.cmtx_average_rating {
	display: inline-block;
	margin-left: -4px;
	vertical-align: middle;
}

.cmtx_average_rating > input {
	display: none;
}

.cmtx_average_rating > label:before {
	margin: 5px;
	font-size: 1.1em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
	line-height: 0;
}

.cmtx_average_rating > label {
	color: #DDDDDD;
	float: right;
}

.cmtx_average_rating > input:checked ~ label, .cmtx_average_rating:not(:checked) > label:hover, .cmtx_average_rating:not(:checked) > label:hover ~ label {
	color: #FFD700;
}

.cmtx_average_rating > input:checked + label:hover, .cmtx_average_rating > input:checked ~ label:hover, .cmtx_average_rating > label:hover ~ input:checked ~ label, .cmtx_average_rating > input:checked ~ label:hover ~ label {
	color: #FFED85;
}

.cmtx_average_rating_stats {
	font-size: 0.8em;
	vertical-align: middle;
}

.cmtx_average_rating_block div[itemprop] {
	display: inline-block;
}

/* Notify */

.cmtx_notify_block {
}

.cmtx_notify_block a {
	text-decoration: none;
	outline: 0;
}

.cmtx_notify_icon:before {
	content: "\f003";
	color: #222;
	font-size: medium;
}

.cmtx_notify_text {
	padding-left: 2px;
}

.cmtx_message_notify {
}

.cmtx_message_notify a {
	color: #0000FF;
	text-decoration: none;
}

/* Page Number */

.cmtx_page_number_block {
}

.cmtx_page_number {
	font-weight: normal;
}

/* Pagination */

.cmtx_pagination_block {
}

.cmtx_pagination_container {
}

.cmtx_pagination_url {
	text-decoration: none !important;
}

.cmtx_pagination_box {
	background: none repeat scroll 0 0 #F8F8F8;
	border: 1px solid #D8D8D8;
	color: #3E3E3E;
	font-size: 14px;
	padding: 0px 4px;
	cursor: pointer;
}

.cmtx_pagination_block span:not(:first-of-type) {
	margin-left: 1px;
}

.cmtx_pagination_box:hover {
	border: 1px solid #9E9E9E;
}

.cmtx_pagination_box_active {
	background: none repeat scroll 0 0 #636363;
	border: 1px solid #636363;
	color: #FFFFFF;
}

.cmtx_pagination_box_active:hover {
	border: 1px solid #636363;
}

.cmtx_pagination_link {
	color: #3E3E3E !important;
	padding: 2px 4px;
	text-decoration: none;
}

/* RSS */

.cmtx_rss_block {
}

.cmtx_rss_block a {
	text-decoration: none;
	outline: 0;
}

.cmtx_rss_icon:before {
	content: "\f143";
	color: #E97013;
	font-size: medium;
}

.cmtx_rss_text {
	padding-left: 2px;
}

/* Search */

.cmtx_search_block {
}

.cmtx_search_container {
	position: relative;
}

.cmtx_search {
	width: 125px !important;
	height: 20px !important;
	display: inline-block !important;
	line-height: 20px;
	transition: width 500ms !important;
	vertical-align: middle;
	border-radius: 4px;
	border: 1px solid #A9A9A9;
	padding: 0 0 0 5px !important;
	margin: 0 !important;
}

.cmtx_search_focus {
	width: 225px !important;
}

.cmtx_search_container .fa-search {
	position: relative;
	top: 1px;
	right: 19px;
	font-size: 12px;
	color: #AAAAAA;
	cursor: pointer;
}

/* Social */

.cmtx_social_block {
}

.cmtx_social {
    background-image: url(../image/social/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
	vertical-align: middle;
}

.cmtx_social_block a:not(:first-child) {
	margin-left: 10px;
}

.cmtx_social_digg {
    background-position: -5px -5px;
}

.cmtx_social_facebook {
    background-position: -31px -5px;
}

.cmtx_social_google {
    background-position: -5px -31px;
}

.cmtx_social_linkedin {
    background-position: -31px -31px;
}

.cmtx_social_reddit {
    background-position: -57px -5px;
}

.cmtx_social_stumbleupon {
    background-position: -57px -31px;
}

.cmtx_social_twitter {
    background-position: -5px -57px;
}

/* Sort By */

.cmtx_sort_by_block {
}

.cmtx_sort_by_text {
	font-size: 0.8em;
	color: $grey;
}

.cmtx_sort_by_field {
	width: auto !important;
	height: auto !important;
	padding: 0 !important;
}

/* Topic */

.cmtx_topic_block {
}

.cmtx_topic_intro {
	font-weight: normal;
}

.cmtx_topic {
	font-weight: bold;
}

/* Return */

.cmtx_return {
	background-color: #FCFCFC;
	border: 1px dotted #CCCCCC;
	line-height: 25px;
	text-align: center;
}

.cmtx_return a {
	text-decoration: none;
	outline: 0;
}

.cmtx_return_icon:before {
	content: "\f0e2";
	color: #222;
}