// _partial/_comments.scss

.cmtx_comments_heading {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 0;
}

.cmtx_comments_row_one, .cmtx_comments_row_two {
    margin-bottom: 20px;
}

.cmtx_comments_row_three, .cmtx_comments_row_four {
    margin-top: 20px;
}

.cmtx_row_left, .cmtx_row_middle, .cmtx_row_right {
    background-color: $grey-lightest;
    border: 1px dotted $grey-lighter;
    color: $black !important;
    float: left;
    line-height: 25px;
    padding: 4px;
    vertical-align: middle;
    width: 33.3%;
}

.cmtx_row_left *, .cmtx_row_middle *, .cmtx_row_right * {
    height: 25px;
    line-height: 25px;
}

.cmtx_row_left {
    text-align: left;
}

.cmtx_row_middle {
    text-align: center;
}

.cmtx_row_right {
    text-align: right;
}

.cmtx_comment_section:first-of-type {
    margin-top: 7px;
}

.cmtx_comment_section:not(:last-of-type) {
    border-bottom: 1px dotted $grey-light;
    margin-bottom: 20px;
}

.cmtx_loading_body {
    opacity: 0.3;
}

.cmtx_loading_icon {
    animation: fa-spin 2s infinite linear;
    display: none;
    left: 50%;
    margin-top: -20px;
    position: fixed;
    top: 50%;
}

.cmtx_loading_icon::before {
    content: '\f110';
    font-family: FontAwesome;
    font-size: 20px;
}

.cmtx_more_button_row {
    margin-bottom: 30px;
    margin-top: 25px;
    text-align: center;
}

.cmtx_return {
    background-color: $grey-lightest;
    border: 1px dotted $grey-lighter;
    height: 35px;
    line-height: 25px;
    padding: 4px;
    text-align: center;
}

.cmtx_return a, .cmtx_return a * {
    outline: 0;
    text-decoration: none !important;
}

.cmtx_return_icon::before {
    color: $grey-dark;
    content: '\f0e2';
}

@media all and (max-width: 800px) {
    .cmtx_comments_row_one, .cmtx_comments_row_two {
        margin-bottom: 0;
    }

    .cmtx_comments_row_three, .cmtx_comments_row_four {
        margin-top: 0;
    }

    .cmtx_row_left, .cmtx_row_middle, .cmtx_row_right {
        float: none;
        margin-bottom: 12px;
        text-align: center;
        width: 100%;
    }

    .cmtx_return {
        margin-bottom: 12px;
    }

    .cmtx_empty_position {
        display: none;
    }
}